.navbar {


    border-bottom: none;
    box-shadow: none;

    }
.navbar-default{
    background-image:none;
    box-shadow:none;
    border-bottom: none;
    box-shadow: none;

}
.mynav{
    background-image:none;

    box-shadow: none;
}
body{
    font-family: paragrap;

}

nav{

    color:none;
    background-color: none;
    width: 100%;
}
/*.mainpic{
    margin-left: 100px ;

}
.textdetial{
    margin-left: 100px ;

}
footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
.foottext{
    margin-left: 80px ;

}*/
/*img {
    width: 80%;
    height: auto;
}*/
@font-face {
      font-family: paragrap;
      src: url(fonts/PlayfairDisplay-Regular.ttf);


    }
@font-face {

    font-family: logo;
    src: url(fonts/Myriad Pro Regular.ttf);


        }
@font-face {

        font-family: ubuntu;
        src: url(fonts/Ubuntu-Light.ttf);

            }

.textcat{

    color: #778899;

}
.also{
    color: #666666;
}

/*

nav>div>ul>li{

        margin-right: 60px;



    }*/
nav>div>ul>li>a{

        color: black;



    }
/*.row{
    margin-left: 120px ;

}*/
.fontslogo{
    font-family: logo;
    color: black;
}
.nav-link{

    color: black;
}
.footer {


  width: 100%;
  height: 100%; /* Set the fixed height of the footer here */
  line-height: 70px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.aboutme{
    color:#D2B48C;

}
.aboutmelist{
    color:#D2B48C;
    padding-right:20px;
}
.aboutmecomment{
    color:#D2B48C;
    padding-left:30px;
}
.fa {


  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

  color: #CC9966;
}

.fa-twitter {
   color: #CC9966;
}

.fa-google {
   color: #CC9966;
}



.fa-instagram {
   color: #CC9966;
}

.fa-pinterest {
   color: #CC9966;
}



.fa-tumblr {
   color: #CC9966;
}
.share{
    color:#CC9966;
    padding-right:20px;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


.highlight {

  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.nav-right{
    float: right;

}
 .page-link{
     color: black;
 }
 .wrapper{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top:10px;
}
.btn-copy{
  background-color: #38AFDD;
  border: transparent;
  border-bottom: 2px solid #0086B7;
  border-radius: 2px;
  padding: 10px;
  min-width: 100px;
  color: #fff;
}
.btn-copy:hover, .btn-copy:focus{
  background-color: #48A1C1;
  border-bottom: 2px solid #38AFDD;
  /*transition cross browser*/
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition: all .3s ease-in;
}

#copy-me {
    display:none;
}
#hide{
  display:none;
}
.pagination>.active>span{
        background-color: black;
        border-color: black;

}
a{
    color: black;
}
